/* **color: whitesmoke; */


body {
    background-image: url('assets/rain.jpg!d');
    background-size: cover;
}

.img1 {
    float: right;
}

.card {
    width: 100%;
    margin: 10px auto;
}

.opacity {
    opacity: 0.7;
}

.container-fluid {
    padding: 20px 50px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 90%;
    float: center;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 90%;
        float: center;
    }

    .list-group {
        height: 95vh;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }

    .list-group {
        height: 95vh;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }

    .list-group {
        height: 95vh;
        /* background-color: white; */
        
    }

    .card {
        height: 325px;
    }
}
